<div class="main-top">
  <div class="main-room-name">
    <p><%= @room.name %></p>
  </div>
  <div class="chat-drop">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main-main">
<!--collectionのあとの@messagesの数だけ部分テンプレート(_message.html.erb)が繰り返される-->
  <%= render partial:'message', collection: @messages %>
</div>
<%= form_with model: [@room, @message], class: 'main-bottom', local: true do |f| %>
  <div class="message-area">
    <%= f.text_field :content, class: 'message-textarea', placeholder: 'type a message' %>
    <label class="message-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <div class="send">
    <%= f.submit '送信', class: 'send-btn' %>
  </div>
<% end %>